.horned-beast {
  background-color: coral;
}

.horned-beast img {
  width: 100%;
}

.horned-beast img:hover {
  cursor: pointer;
  border: 2px solid blue;
  border-radius: 4px;
}

.horned-beast img:active {
  transform: scale(0.5);
}
